<nav aria-label="Page navigation example">

  <ul class="pagination justify-content-center">

    <li class="page-item" [ngClass]="{'disabled': currentPage < 2 }">
      <a class="page-link" (click)="prev()" href="#">Previous</a>
    </li>
    <li class="page-item" *ngFor="let count of counter | slice:start:numLimit" [ngClass]="{'active': (count) === currentPage}">
      <span class="page-link" *ngIf="(count ) === currentPage">
        {{count + 1}}
           <span class="sr-only">(current)</span>
      </span>
      <a class="page-link" *ngIf="(count) !== currentPage" href="#"
               (click)="setPage(count)">{{count + 1}}</a>
      <!--      <button aria-label="Page " >{{count + 1}}</button>-->
    </li>

    <li class="page-item" [ngClass]="{'disabled': currentPage > (pagesLen-2) }">
      <a class="page-link" href="#" (click)="next()">Next</a>
    </li>
  </ul>
</nav>
