/* You can add global styles to this file, and also import other style files */
.b-card {
  box-shadow: 0px 0px 12px 0px lightgrey;
  border-radius: 7px;
  background: white;
}
.f-grey {
  color: #ccc;
}

.pagination button {
  padding: 7px 10px;
  cursor: pointer;
}


.pagination button .current {
  cursor: none;
}
.pagination button:hover {
   background: none;
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-color {
  background: #00064512;
}
